
/* ---------- General Layout ---------- */

body,
input,
textarea,
select {
  color: #000;
  background: none;
}
body.two-sidebars,
body.sidebar-first,
body.sidebar-second,
body {
  width: 640px;
}
#sidebar-first,
#sidebar-second,
.navigation,
#toolbar,
.tabs,
.add-or-remove-shortcuts,
.ribbon,
.hand {
  display: none;
}

/* ---------- Node Pages ---------- */

#comments .title,
#comments form,
.comment_forbidden {
  display: none;
}

/* ---------- Resume ------------*/
.node-type-resume .logo {
  display: none;
}
.node-type-resume #card {
  width: 750px;
  margin: 0px;
  padding: 20px;
  background: #fff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.node-type-resume .left-col {
  width: 515px;
}
.node-type-resume .field-name-field-email {
  top: 75px;
  right: 350px;
}
.node-type-resume .field-collection-item-field-experience {
  padding-bottom: 20px;
  padding-top: 0;
  margin-bottom: 20px;
  border-bottom: 1px dotted #ccc;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}