////////////////////////
// Variables Partials
//
// All of your variables should go in this file.
////////////////////////

$font-family: MyriadProLight, Helvetica, Arial, sans-serif;
$font-family-bold: MyriadProBold, Helvetica, Arial, sans-serif;
$font-family-italic: MyriadProItalic, Helvetica, Arial, sans-serif;

$font-size: 1em;

// Colors
$color-gray: #919191;
$color-accent: #cd9684;
