/* line 8, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/toolkit-0.1.15/stylesheets/toolkit/_border-box.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 4, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/toolkit-0.1.15/stylesheets/toolkit/_fluid-media.scss */
img {
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: "MyriadProLight";
  src: url('../fonts/myriadpro-light-webfont.eot');
  src: url('../fonts/myriadpro-light-webfont.eot?#iefix') format('eot'), url('../fonts/myriadpro-light-webfont.woff') format('woff'), url('../fonts/myriadpro-light-webfont.ttf') format('truetype'), url('../fonts/myriadpro-light-webfont.svg') format('svg');
  font-weight: "normal";
  font-style: "normal";
}

@font-face {
  font-family: "MyriadProItalic";
  src: url('../fonts/myriadpro-it-webfont.eot');
  src: url('../fonts/myriadpro-it-webfont.eot?#iefix') format('eot'), url('../fonts/myriadpro-it-webfont.woff') format('woff'), url('../fonts/myriadpro-it-webfont.ttf') format('truetype'), url('../fonts/myriadpro-it-webfont.svg') format('svg');
  font-weight: "normal";
  font-style: "italic";
}

@font-face {
  font-family: "MyriadProBold";
  src: url('../fonts/myriadpro-semibold-webfont.eot');
  src: url('../fonts/myriadpro-semibold-webfont.eot?#iefix') format('eot'), url('../fonts/myriadpro-semibold-webfont.woff') format('woff'), url('../fonts/myriadpro-semibold-webfont.ttf') format('truetype'), url('../fonts/myriadpro-semibold-webfont.svg') format('svg');
  font-weight: "bold";
  font-style: "normal";
}

/* line 16, ../sass/partials/styleguide/_style-guide.scss */
body {
  font: 1em MyriadProLight, Helvetica, Arial, sans-serif;
  padding-bottom: 20px;
  background: #aacbcd url("../images/bg.png");
}

/* line 22, ../sass/partials/styleguide/_style-guide.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: MyriadProLight, Helvetica, Arial, sans-serif;
}

/* line 26, ../sass/partials/styleguide/_style-guide.scss */
h1 {
  color: rgba(0, 0, 0, 0.65);
  line-height: 1.25em;
  margin-bottom: 0;
}

/* line 32, ../sass/partials/styleguide/_style-guide.scss */
a, a:hover, a:link, a:visited {
  color: #cd9684;
  text-decoration: none;
  font-weight: bold;
}

/* line 38, ../sass/partials/styleguide/_style-guide.scss */
p {
  line-height: 1.25em;
}
/* line 41, ../sass/partials/styleguide/_style-guide.scss */
p:first-of-type {
  margin-top: 0;
}
/* line 44, ../sass/partials/styleguide/_style-guide.scss */
p:last-of-type {
  margin-bottom: 0;
}

/* line 7, ../sass/partials/styleguide/_menus.scss */
.main-menu {
  padding: 3px 10px;
  max-width: 15.5em;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.3)), color-stop(100%, rgba(0, 0, 0, 0.65)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.65));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.65));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.65));
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.65));
  background: linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.65));
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
/* line 13, ../sass/partials/styleguide/_menus.scss */
.main-menu .menu {
  margin: 0;
  padding: 0;
}
/* line 17, ../sass/partials/styleguide/_menus.scss */
.main-menu .menu li {
  display: inline-block;
}
/* line 21, ../sass/partials/styleguide/_menus.scss */
.main-menu a, .main-menu a:hover, .main-menu a:link, .main-menu a:visited {
  color: #fff;
  padding: 0 2px;
  margin-right: 5px;
  top: 0;
  position: relative;
  -webkit-transition: top 250ms ease;
  -moz-transition: top 250ms ease;
  -ms-transition: top 250ms ease;
  -o-transition: top 250ms ease;
  transition: top 250ms ease;
}
/* line 29, ../sass/partials/styleguide/_menus.scss */
.main-menu a:hover {
  top: -2px;
  -webkit-transition: top 50ms ease;
  -moz-transition: top 50ms ease;
  -ms-transition: top 50ms ease;
  -o-transition: top 50ms ease;
  transition: top 50ms ease;
}
/* line 33, ../sass/partials/styleguide/_menus.scss */
.main-menu a:last-child {
  margin-right: 0;
}

/* line 38, ../sass/partials/styleguide/_menus.scss */
.tabs.primary {
  margin-bottom: 10px;
  font-size: .75em;
  opacity: .35;
  -webkit-transition: opacity 250ms ease;
  -moz-transition: opacity 250ms ease;
  -ms-transition: opacity 250ms ease;
  -o-transition: opacity 250ms ease;
  transition: opacity 250ms ease;
}
/* line 44, ../sass/partials/styleguide/_menus.scss */
.tabs.primary:hover {
  opacity: 1;
  -webkit-transition: opacity 250ms ease;
  -moz-transition: opacity 250ms ease;
  -ms-transition: opacity 250ms ease;
  -o-transition: opacity 250ms ease;
  transition: opacity 250ms ease;
}
/* line 48, ../sass/partials/styleguide/_menus.scss */
.tabs.primary li {
  margin-right: 10px;
}
/* line 51, ../sass/partials/styleguide/_menus.scss */
.tabs.primary li a {
  display: inline-block;
  padding: 2px 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: #eee;
}
/* line 59, ../sass/partials/styleguide/_menus.scss */
.tabs.primary li.active a,
.tabs.primary li a:hover {
  background: #fff;
}

/* line 10, ../sass/partials/styleguide/_forms.scss */
input[type="search"],
input[type="password"],
input[type="email"],
input[type="text"] {
  padding: 0 15px;
  min-height: 30px;
  border: none;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: inset 2px 2px 8px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 2px 2px 8px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 2px 2px 8px 1px rgba(0, 0, 0, 0.2);
}

/* line 18, ../sass/partials/styleguide/_forms.scss */
input[type="search"] {
  margin-right: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.65);
}

/* line 28, ../sass/partials/styleguide/_forms.scss */
a.button,
button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  border: 1px solid #c1e6e9;
  padding: 6px 15px;
  font-size: 0.8em;
  color: #fff;
  margin: 0;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.65);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.65);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #aed0d2), color-stop(100%, #778f90));
  background: -webkit-linear-gradient(top, #aed0d2 0%, #778f90 100%);
  background: -moz-linear-gradient(top, #aed0d2 0%, #778f90 100%);
  background: -o-linear-gradient(top, #aed0d2 0%, #778f90 100%);
  background: -ms-linear-gradient(top, #aed0d2 0%, #778f90 100%);
  background: linear-gradient(top, #aed0d2 0%, #778f90 100%);
}

/* line 52, ../sass/partials/styleguide/_forms.scss */
a.button:active,
a.button:focus,
a.button:hover,
button:active,
button:focus,
button:hover,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="reset"]:hover,
input[type="submit"]:active,
input[type="submit"]:focus,
input[type="submit"]:hover,
input[type="button"]:active,
input[type="button"]:focus,
input[type="button"]:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #aed0d2), color-stop(80%, #778f90));
  background: -webkit-linear-gradient(top, #aed0d2 0%, #778f90 80%);
  background: -moz-linear-gradient(top, #aed0d2 0%, #778f90 80%);
  background: -o-linear-gradient(top, #aed0d2 0%, #778f90 80%);
  background: -ms-linear-gradient(top, #aed0d2 0%, #778f90 80%);
  background: linear-gradient(top, #aed0d2 0%, #778f90 80%);
}

/* line 55, ../sass/partials/styleguide/_forms.scss */
.form-required {
  color: #aacbcd;
}

/* line 58, ../sass/partials/styleguide/_forms.scss */
.form-title {
  margin-bottom: 0;
}

/* line 61, ../sass/partials/styleguide/_forms.scss */
.read-on {
  color: #fff;
}

/* line 64, ../sass/partials/styleguide/_forms.scss */
.label-inline {
  display: inline;
}

/* line 67, ../sass/partials/styleguide/_forms.scss */
.edit-feed-me-wrapper {
  display: none;
}

/* line 8, ../sass/partials/styleguide/_pagers.scss */
.pager .button {
  padding: 5px 10px;
}
/* line 11, ../sass/partials/styleguide/_pagers.scss */
.pager li {
  background-image: none;
  margin-left: .5em;
}
/* line 15, ../sass/partials/styleguide/_pagers.scss */
.pager li a {
  color: #fff;
}
/* line 19, ../sass/partials/styleguide/_pagers.scss */
.pager li.pager-previous {
  margin-left: 0;
}
/* line 23, ../sass/partials/styleguide/_pagers.scss */
.pager li.pager-previous a,
.pager li.pager-next a {
  color: rgba(0, 0, 0, 0.65);
  white-space: nowrap;
}
/* line 27, ../sass/partials/styleguide/_pagers.scss */
.pager li.pager-current {
  border: 1px solid #eee;
  padding: 5px 10px;
  color: #fff;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.3)), color-stop(100%, rgba(0, 0, 0, 0.65)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.65));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.65));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.65));
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.65));
  background: linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.65));
}

/* line 37, ../sass/partials/styleguide/_pagers.scss */
.item-list .pager li {
  padding: 0;
}

/* line 7, ../sass/partials/styleguide/_messages.scss */
.messages {
  border: 1px solid #fff;
  font-family: MyriadProBold, Helvetica, Arial, sans-serif;
  margin: 0 0 10px 0;
  min-height: 25px;
  padding: 10px 5px 5px 40px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px rgba(50, 0, 0, 0.5);
  -moz-box-shadow: 0 0 5px rgba(50, 0, 0, 0.5);
  box-shadow: 0 0 5px rgba(50, 0, 0, 0.5);
}
/* line 16, ../sass/partials/styleguide/_messages.scss */
.messages.status {
  background: #b6fab5 url(/misc/message-24-ok.png) 5px 5px no-repeat;
}
/* line 19, ../sass/partials/styleguide/_messages.scss */
.messages.warning {
  background: #fff992 url(/misc/message-24-warning.png) 5px 5px no-repeat;
}
/* line 22, ../sass/partials/styleguide/_messages.scss */
.messages.error {
  background: #ffcccc url(/misc/message-24-error.png) 5px 5px no-repeat;
}

/* line 27, ../sass/partials/styleguide/_messages.scss */
li.krumo-footnote {
  overflow: hidden;
}
/* line 30, ../sass/partials/styleguide/_messages.scss */
li.krumo-footnote .krumo-call {
  font-size: 8px !important;
}

/* line 11, ../sass/partials/layout/_layout.scss */
#page {
  position: relative;
}

/* line 15, ../sass/partials/layout/_layout.scss */
article.node {
  margin-bottom: 3em;
}

/* line 19, ../sass/partials/layout/_layout.scss */
.main-menu {
  position: absolute;
  top: 0;
}

/* line 11, ../sass/partials/design/_design.scss */
#page {
  background: #fff;
  margin: 2em auto .5em auto;
  padding: 4% 2% 2% 2%;
  width: 100%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
}

/* line 20, ../sass/partials/design/_design.scss */
article.node {
  font-size: 1.15em;
}
/* line 23, ../sass/partials/design/_design.scss */
article.node h2 {
  margin-bottom: 0;
}
/* line 26, ../sass/partials/design/_design.scss */
article.node time {
  display: block;
  color: rgba(0, 0, 0, 0.3);
  margin: .5em 0;
  font-size: 0.85em;
}
/* line 32, ../sass/partials/design/_design.scss */
article.node .terms {
  margin-bottom: 1em;
  font-size: 0.85em;
}
/* line 36, ../sass/partials/design/_design.scss */
article.node .terms a {
  padding: 0 0 0 2em;
  display: inline-block;
  white-space: nowrap;
}
/* line 41, ../sass/partials/design/_design.scss */
article.node .terms a:first-child {
  padding: 0;
}
/* line 45, ../sass/partials/design/_design.scss */
article.node .node-body {
  margin-bottom: .8em;
}

/* line 50, ../sass/partials/design/_design.scss */
#hand {
  background: url(../images/hand.png) no-repeat center center;
  background-size: contain;
  height: 62px;
  position: absolute;
  right: 10px;
  top: -30px;
  width: 100px;
  z-index: 100;
}
