#page {
  margin-top: 70px;
}

#main-menu {
  padding: 5px 20px;
  width: 7.3em;
  font-size: 1.5em;
}
#main-menu a,
#main-menu a:hover,
#main-menu a:link,
#main-menu a:visited {
  margin-right: 20px;
}

#hand {
  height: 125px;
  right: 25px;
  top: -60px;
  width: 200px;
}
.social-network-links a {
  width: 4em;
  height: 4em;
}
#region-sidebar {
  margin-top: 22em;
}
input[type="search"] {
  width: 195px;
}

.node-title {
  font-size: 2.75em;
}
.node-teaser .terms {
  border-left: 1px dotted #ccc;
  padding-left: 10px;
  float: left;
}
.node-teaser .pubdate {
  float: left;
  margin-right: 10px;
}

#block-bleen-bleen-definition {
  display: block;
  position: absolute;
  top: 25px;
  right: 0;
  width: 250px;
  font-size: .85em;
  background: url(../images/fold-shadow.png) no-repeat center bottom;
  background-size: contain;
  padding-bottom: 24px;
  -moz-transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
#block-bleen-bleen-definition .block-inner {
  border: 1px solid #f4f4f4;
  padding: 30px 10px 10px 10px;
  background: #fafafa; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #fafafa 30%, #efefef 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(30%,#fafafa), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  #fafafa 30%,#efefef 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  #fafafa 30%,#efefef 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  #fafafa 30%,#efefef 100%); /* IE10+ */
  background: radial-gradient(center, ellipse cover,  #fafafa 30%,#efefef 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#efefef',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.tabs.primary {
  font-size: 1em;
}
