#page {
  width: 1200px;
}

#main-menu {
  padding: 5px 20px;
  width: 7.3em;
  font-size: 1.5em;
}
#region-sidebar {
  margin-top: 19em;
}
input[type="search"] {
  width: 275px;
}
#block-bleen-bleen-definition {
  width: 400px;
  font-size: 1em;
  padding-bottom: 36px;
}
#block-bleen-bleen-definition .block-inner {
  padding: 10px;
}
