#page {
  width: 960px;
}

#main-menu {
  padding: 5px 20px;
  width: 7.3em;
  font-size: 1.5em;
}

#block-bleen-bleen-definition {
  width: 325px;
  font-size: 1em;
  padding-bottom: 36px;
}
#block-bleen-bleen-definition .block-inner {
  padding: 10px;
}

#region-sidebar {
  margin-top: 18em;
}

