#page {
  width: 720px;
}
#main-menu {
  font-size: 1.25em;
}
#region-content .region-inner {
  padding: 0 20px;
}

input[type="search"] {
  width: 115px;
}
.social-network-links a {
  width: 2.5em;
  height: 2.5em;
}
